@import '../../styles/settings.scss';

table {
    color: #F1FAEE;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}