$color-main-light: #a8dadc;
$color-main-dark: #457b9d;
$color-dark: #1d3557;
$color-light: #f1faee;

$color-warning: #fee440;
$color-success: #22bb33;
$color-danger: #e63946;

$font-text: 'Inconsolata', monospace;

$radius: 5px;
$base-size: 20px;
$transition: all 0.5s;

@mixin respond-small {
  @media (max-width: 767px) {
    @content;
  }
}
